/****************************************/
/***** HEADER - DEFAULT *****/
/****************************************/
.header {
    display: flex;
    align-items: center;
    padding: 0 25px;
    height: 60px;
    width: 100%;
    background: #1b1b1b;
    color: #E4E4E4;
    z-index: 9999;
    position: sticky;
    top: 0;
    gap: 25px;
}

.arch-logo {
    height: 45px;
    cursor: pointer;
}

.box {
	/* width: 500px; */
    width: 100%;
	height: 40px;
	background-color: #E4E4E4;
	border-radius: 30px;
	display: flex;
	align-items: center;
	padding: 20px;
    gap: 10px;
    border: 1px solid #5F9EA0;
}

.box input::placeholder {
    color: #5F9EA0;
}

.box > i {
	font-size: 18px;
	color: #5F9EA0;
}

.box > input{
	flex: 1;
	height: 30px;
	border: none;
	outline: none;
	font-size: 16px;
	padding-left: 10px;
    background-color: #E4E4E4;
    color: #E4E4E4;
}

.responsive-menu {
    display: none;
}

.responsive-menu i {
    color: #E4E4E4;
    cursor: pointer;
}

.responsive-menu i:hover {
    color: #009C77;
}

.responsive-seach-cart {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.responsive-search {
    display: none;
}

.responsive-search i {
    color: #E4E4E4;
    cursor: pointer;
}

.responsive-search i:hover {
    color: #009C77;
}

.slidebar-nav {
    display: none;
}

.menu-closer {
    position: absolute;
    top: 15px;
    left: 270px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 25px;
    background: #5F9EA0;
}

.menu-closer:hover {
    background: #009C77;
}

.menu-closer i {
    /* margin-left: 20px; */
    cursor: pointer;
    font-size: 26px;
    font-weight: 600;
    color: #E4E4E4;
}

.menu-closer i:hover {
    color: #009C77;
}

.sidebar-menu {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: auto;
}

.profile {
    height: 100%;
}

.profile-icon-menu {
    display: flex;
    align-items: center;
    gap: 15px;
    height: 60px;
    width: 100%;
    border: 1px solid #5F9EA0;
    cursor: pointer;
}

.profile-icon-menu i {
    margin-left: 15px;
    font-size: 40px;
    color: #E4E4E4;
    cursor: pointer;
}

.profile-icon-menu-dot {
    position: absolute;
    height: 12px;
    width: 12px;
    border-radius: 25px;
    top: 10px;
    margin-left: 45px;
    background: #009C77;
}

.profile-icon-menu span {
    overflow: hidden;
    text-overflow: ellipsis; 
    width: 130px;
    font-size: 18px;
    font-weight: 600;
    /* background: rebeccapurple; */
}

.angle-right {
    display: flex;
    align-items: center;
    position: absolute;
    margin-left: 200px;
}

.angle-right i {
    font-size: 16px;
    font-weight: 600;
}

.categories-menu {
    display: flex;
    /* gap: 10px; */
    flex-direction: column;
    border-bottom: 1px solid #5F9EA0;
    /* background: rebeccapurple; */
}

.topic-category {
    margin-top: 10px;
    /* background: red; */
    height: 20px;
    display: flex;
    align-items: center;
}

.topic-category p {
    margin-left: 15px;
    font-size: 14px;
    color: darkgrey;
}

.categories-menu span {
    margin-left: 15px;
    font-size: 18px;
    color: #E4E4E4;
}

.g-and-f {
    display: flex;
    align-items: center;
    height: 50px;
    cursor: pointer;
    /* background: red; */
}

.angle-right-category {
    position: absolute;
    margin-left: 220px;
}

.angle-right-category i {
    font-size: 16px;
    font-weight: 600;
}

.categories-menu-more {
    display: flex;
    flex-direction: column;
}

.categories-menu-more span {
    margin-left: 15px;
    font-size: 18px;
    color: #E4E4E4;
}

.menu-back {
    display: flex;
    align-items: center;
    gap: 15px;
    height: 40px;
    width: 100%;
    border: 1px solid #5F9EA0;
    cursor: pointer;
}

.angle-left {
    display: flex;
    align-items: center;
    position: absolute;
    margin-left: 15px;
}

.angle-left i {
    font-size: 16px;
    font-weight: 600;
}

.menu-back-span {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-back-span span {
    font-size: 18px;
    font-weight: 400;
    color: #E4E4E4;
}

.box-responsive {
    width: 100%;
	height: 30px;
	background-color: #E4E4E4;
	border-radius: 30px;
	display: flex;
	align-items: center;
	padding: 15px;
    gap: 10px;
    border: 1px solid #5F9EA0;
}

.box-responsive input::placeholder {
    color: #5F9EA0;
}

.box-responsive > i {
	font-size: 16px;
	color: #5F9EA0;
}

.box-responsive > input {
	flex: 1;
	height: 20px;
	border: none;
	outline: none;
	font-size: 14px;
	padding-left: 5px;
    background-color: #E4E4E4;
    color: #E4E4E4;
}

.closer-responsive-search {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    border-radius: 25px;
    background: #5F9EA0;
}

.closer-responsive-search:hover {
    background: #009C77;
}

.closer-responsive-search i {
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    color: #E4E4E4;
}

.closer-responsive-search i:hover {
    color: #009C77;
}

/****************************************** CATOGARIES ******************************************/
.categories-all-parts {
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 100%; */
    height: 100%;
}

.categories {
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
}

.categories:hover {
    color: #009C77;
}

.categories-hover {
    display: none;
    position: absolute;
    left: 120px;
    top: 45px;
    background-color: #101010;
    height: 152px;
    width: 250px;
    z-index: 1;
    list-style: none;
    text-decoration: none;
    border: 1px solid #E4E4E4;
}

.categories-all-parts:hover .categories-hover {
    display: block;
} 

/****************************************** WISHLIST ******************************************/
.wishlist {
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 100%; */
    height: 60px;
}

.wishlist i { 
    font-size: 20px;
    color: #E4E4E4;
    cursor: pointer;
}

.wishlist i:hover {
    color: #009C77;
}

.wishlist-hover {
    display: none;
    position: absolute;
    right: 140px;
    top: 45px;
    background-color: #101010;
    max-height: 510px;
    width: 300px;
    z-index: 1;
    list-style: none;
    text-decoration: none;
    border: 1px solid #E4E4E4;
}

.wishlist:hover .wishlist-hover {
    display: block;
}

/****************************************** SHOPPING-CART ******************************************/
.shopping-cart {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    height: 60px;
}

.shopping-cart i {
    font-size: 20px;
    color: #E4E4E4;
    cursor: pointer;
}

.shopping-cart i:hover {
    color: #009C77;
}

.shopping-cart-number {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: 600;
    color: #E4E4E4;
    background-color: #009C77;
    height: 24px;
    width: 24px;
    border-radius: 25px;
    position: absolute;
    top: 6px;
    margin-left: 14px;
}

.cart-hover {
    display: none;
    position: absolute;
    right: 100px;
    top: 45px;
    background-color: #101010;
    max-height: 510px;
    width: 300px;
    z-index: 1;
    list-style: none;
    text-decoration: none;
    border: 1px solid #E4E4E4;
}

.shopping-cart:hover .cart-hover {
    display: block;
}

/****************************************** NOTIFICATIONS ******************************************/
.notifications {
    display: flex;
    align-items: center;
    height: 100%;
}


.notifications i {
    font-size: 20px;
    color: #E4E4E4;
    cursor: pointer;
}

.notifications i:hover {
    color: #009C77;
}

.notifications-dot {
    position: absolute;
    height: 10px;
    width: 10px;
    border-radius: 25px;
    top: 14px;
    margin-left: 12px;
    background: #009C77;
}

.notifications-hover {
    display: none;
    position: absolute;
    right: 60px;
    top: 45px;
    background-color: #101010;
    max-height: 410px;
    width: 300px;
    z-index: 1;
    list-style: none;
    text-decoration: none;
    border: 1px solid #E4E4E4;
}

.notifications:hover .notifications-hover {
    display: block;
}

/****************************************** USER ICON ******************************************/
.user-icon {
    display: flex;
    align-items: center;
    height: 100%;
}

.user-icon i {
    font-size: 40px;
    color: #E4E4E4;
    cursor: pointer;
}

.user-icon i:hover {
    color: #009C77;
}

.user-icon-dot {
    position: absolute;
    height: 12px;
    width: 12px;
    border-radius: 25px;
    top: 10px;
    margin-left: 30px;
    background: #009C77;
}

.user-icon-hover {
    display: none;
    position: absolute;
    right: 20px;
    top: 45px;
    background-color: #101010;
    height: 816px;
    width: 250px;
    z-index: 1;
    list-style: none;
    text-decoration: none;
    border: 1px solid #E4E4E4;
}

.user-icon:hover .user-icon-hover {
    display: block;
}

.arch-menu {
    display: none;
}

/****************************************/
/***** HEADER - (0px - 768px)  *****/
/****************************************/
@media all and (max-width: 768px) {
    .categories {
        display: none;
    }

    .box {
        display: none;
    }

    .wishlist {
        display: none;
    }

    .notifications {
        display: none;
    }

    .user-icon {
        display: none;
    }

    .header {
        padding: 0 15px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .arch-logo {
        height: 35px;
    }

    .shopping-cart {
        display: flex;
        align-items: center;
        height: 100%;
    }

    .cart-hover {
        display: none;
    }

    .shopping-cart:hover .cart-hover {
        display: none;
    }

    .shopping-cart i {
        font-size: 18px;
    }
    
    .shopping-cart-number {
        top: -10px;
        font-size: 10px;
        font-weight: 600;
        height: 20px;
        width: 20px;
    }

    .responsive-menu {
        position: absolute;
        left: 20px;
        display: flex;
    }

    .responsive-menu i {
        font-size: 20px;
    }

    .responsive-search {
        display: flex;
    }
    
    .responsive-search i {
        font-size: 18px;
    }

    .responsive-seach-cart {
        position: absolute;
        right: 30px;
    }

    .slidebar-nav {
        display: flex;
    }
}

/*************************************************************/
/***** ARCH-SERVICES-NAVBAR - (0px - 360px)  *****/
/*************************************************************/
@media all and (max-width: 360px) {
    .arch-menu {
        display: flex;
    }
}

/* Media Queries,
320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV 
*/

/* 320px, 480px, 768px, 1024, 1200px and more */

/* 
@media all and (min-width: 1280px) {
    
}
*/