/****************************************/
/***** PRODUCT REVIEWS *****/
/****************************************/
.product-reviews {
    background: #002222;
    display: flex;
    border-radius: 10px;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    min-height: 350px;
    border: 1px solid #e4e4e4;
    margin: 25px 25px 0px 25px;
    overflow: hidden;
}

.product-reviews-part-sample {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.product-reviews-part {
    display: flex;
    flex-direction: column;
    margin: 25px 0;
    min-height: 300px;
    width: 95%;
    border-radius: 10px;
    /* gap: 25px; */
    /* background: rebeccapurple; */
}

.product-reviews {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.product-reviews-sample {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.product-reviews-part-details {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.product-reviews-topic span {
    font-size: 20px;
    font-weight: 400;
}

.product-reviews-customer-name {
    font-size: 18px;
    font-weight: 400;
}

.product-reviews-customer-comment {
    font-size: 16px;
    font-weight: 400;
}

.reviews-first-part {
    display: flex;
    gap: 10px;
}

.user-product-reviews i {
    font-size: 50px;
}

.reviews-cutomer-details-part {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.days-ago {
    font-size: 16px;
}

.reviews-img-part {
    display: flex;
    gap: 10px;
}

.reviews-second-part {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.reviews-img-part img {
    height: 80px;
    width: 100px;
    border-radius: 10px;
    border: 1px solid #e4e4e4;
}

.review-helpful {
    display: flex;
    gap: 20px;
}

.review-helpful div {
    display: flex;
    gap: 5px;
}

.review-helpful div i {
    font-size: 16px;
    cursor: pointer;
}

.review-helpful div i:hover {
    color: #009C77;
}

.review-helpful div span {
    font-size: 16px;
}

.review-hr-part {
    height: 1px;
    border: 1px solid #e4e4e4;
    width: 100%;
}

/*************************************************************/
/***** PRODUCT REVIEWS - (1025px - 1200px)  *****/
/*************************************************************/
@media all and (max-width: 1200px) {
    .product-reviews {
        min-height: 320px;
    }

    .product-reviews-part-sample {
        gap: 23px;
    }
    
    .product-reviews-part {
        margin: 23px 0;
        min-height: 270px;
    }
    
    .product-reviews {
        gap: 14px;
    }
    
    .product-reviews-part-details {
        gap: 23px;
    }
    
    .product-reviews-topic span {
        font-size: 19px;
    }
    
    .product-reviews-customer-name {
        font-size: 17px;
    }
    
    .product-reviews-customer-comment {
        font-size: 15px;
    }
    
    .reviews-first-part {
        gap: 9px;
    }
    
    .user-product-reviews i {
        font-size: 46px;
    }
    
    .days-ago {
        font-size: 15px;
    }
    
    .reviews-img-part {
        gap: 9px;
    }
    
    .reviews-second-part {
        gap: 9px;
    }
    
    .reviews-img-part img {
        height: 70px;
        width: 90px;
    }
    
    .review-helpful {
        gap: 18px;
    }

    .review-helpful span {
        font-size: 15px;
    }
    
    .review-helpful div i {
        font-size: 15px;
    }
    
    .review-helpful div span {
        font-size: 15px;
    }
}

/*************************************************************/
/***** PRODUCT REVIEWS - (769px - 1024px)  *****/
/*************************************************************/
@media all and (max-width: 1024px) {
    .product-reviews {
        min-height: 290px;
    }

    .product-reviews-part-sample {
        gap: 21px;
    }
    
    .product-reviews-part {
        margin: 21px 0;
        min-height: 240px;
    }
    
    .product-reviews {
        gap: 13px;
    }
    
    .product-reviews-part-details {
        gap: 21px;
    }
    
    .product-reviews-topic span {
        font-size: 18px;
    }
    
    .product-reviews-customer-name {
        font-size: 16px;
    }
    
    .product-reviews-customer-comment {
        font-size: 14px;
    }
    
    .reviews-first-part {
        gap: 8px;
    }
    
    .user-product-reviews i {
        font-size: 42px;
    }
    
    .days-ago {
        font-size: 14px;
    }
    
    .reviews-img-part {
        gap: 8px;
    }
    
    .reviews-second-part {
        gap: 8px;
    }
    
    .reviews-img-part img {
        height: 60px;
        width: 80px;
    }
    
    .review-helpful {
        gap: 16px;
    }

    .review-helpful span {
        font-size: 14px;
    }
    
    .review-helpful div i {
        font-size: 14px;
    }
    
    .review-helpful div span {
        font-size: 14px;
    }
}

/*************************************************************/
/***** PRODUCT REVIEWS - (481px - 768px)  *****/
/*************************************************************/
@media all and (max-width: 768px) {
    .product-reviews {
        min-height: 260px;
        margin: 15px 15px 0px 15px;
    }

    .product-reviews-part-sample {
        gap: 19px;
    }
    
    .product-reviews-part {
        margin: 19px 0;
        min-height: 210px;
    }
    
    .product-reviews {
        gap: 12px;
    }
    
    .product-reviews-part-details {
        gap: 19px;
    }
    
    .product-reviews-topic span {
        font-size: 17px;
    }
    
    .product-reviews-customer-name {
        font-size: 15px;
    }
    
    .product-reviews-customer-comment {
        font-size: 13px;
    }
    
    .reviews-first-part {
        gap: 7px;
    }
    
    .user-product-reviews i {
        font-size: 38px;
    }
    
    .days-ago {
        font-size: 13px;
    }
    
    .reviews-img-part {
        gap: 7px;
    }
    
    .reviews-second-part {
        gap: 7px;
    }
    
    .reviews-img-part img {
        height: 55px;
        width: 75px;
    }
    
    .review-helpful {
        gap: 14px;
    }

    .review-helpful span {
        font-size: 13px;
    }
    
    .review-helpful div i {
        font-size: 13px;
    }
    
    .review-helpful div span {
        font-size: 13px;
    }
}

/*************************************************************/
/***** PRODUCT REVIEWS - (321px - 480px)  *****/
/*************************************************************/
@media all and (max-width: 480px) {
    .product-reviews {
        min-height: 230px;
        margin: 15px 15px 0px 15px;
    }

    .product-reviews-part-sample {
        gap: 17px;
    }
    
    .product-reviews-part {
        margin: 17px 0;
        min-height: 180px;
    }
    
    .product-reviews {
        gap: 11px;
    }
    
    .product-reviews-part-details {
        gap: 17px;
    }
    
    .product-reviews-topic span {
        font-size: 16px;
    }
    
    .product-reviews-customer-name {
        font-size: 14px;
    }
    
    .product-reviews-customer-comment {
        font-size: 12px;
    }
    
    .reviews-first-part {
        gap: 6px;
    }
    
    .user-product-reviews i {
        font-size: 34px;
    }
    
    .days-ago {
        font-size: 12px;
    }
    
    .reviews-img-part {
        gap: 6px;
    }
    
    .reviews-second-part {
        gap: 6px;
    }
    
    .reviews-img-part img {
        height: 50px;
        width: 70px;
    }
    
    .review-helpful {
        gap: 12px;
    }

    .review-helpful span {
        font-size: 12px;
    }
    
    .review-helpful div i {
        font-size: 12px;
    }
    
    .review-helpful div span {
        font-size: 12px;
    }
}

/*************************************************************/
/***** PRODUCT REVIEWS - (0px - 320px)  *****/
/*************************************************************/
@media all and (max-width: 320px) {
    .product-reviews {
        min-height: 200px;
        margin: 15px 15px 0px 15px;
    }

    .product-reviews-part-sample {
        gap: 15px;
    }
    
    .product-reviews-part {
        margin: 15px 0;
        min-height: 150px;
    }
    
    .product-reviews {
        gap: 10px;
    }
    
    .product-reviews-part-details {
        gap: 15px;
    }
    
    .product-reviews-topic span {
        font-size: 15px;
    }
    
    .product-reviews-customer-name {
        font-size: 13px;
    }
    
    .product-reviews-customer-comment {
        font-size: 11px;
    }
    
    .reviews-first-part {
        gap: 6px;
    }
    
    .user-product-reviews i {
        font-size: 30px;
    }
    
    .days-ago {
        font-size: 11px;
    }
    
    .reviews-img-part {
        gap: 6px;
    }
    
    .reviews-second-part {
        gap: 6px;
    }
    
    .reviews-img-part img {
        height: 40px;
        width: 60px;
    }
    
    .review-helpful {
        gap: 10px;
    }

    .review-helpful span {
        font-size: 11px;
    }
    
    .review-helpful div i {
        font-size: 11px;
    }
    
    .review-helpful div span {
        font-size: 11px;
    }
}

