.profile-icon-menu-navbar i:hover {
    color: #e4e4e4;
}

.profile-icon-menu-navbar:hover {
    background: #009C77;
}

.g-and-f:hover {
    background: #009C77;
}

.categories-menu-navbar-user {
    background: #1b1b1b;
}