/****************************************/
/***** YOUR-CHOICE *****/
/****************************************/
.your-choice {
    margin: 25px 25px 25px 25px;
    min-height: 400px;
    background: #002222;
    display: flex;
    border-radius: 10px;
    align-items: center;
    flex-direction: column;
    border: 1px solid #e4e4e4;
    overflow: hidden;
}

.y-choice-h2 {
    display: flex;
    align-items: center;
    width: 100%;
    height: 70px;
    align-items: center;
    justify-content: center;
}

.y-choice-h2 .h2-border {
    height: 1px;
    width: 123px;
    border-top: 2px solid;
    border-top-color: #e4e4e4;
    margin: 0 10px;
}

.your-choice .section-h2 {
    font-size: 24px;
    font-weight: 400;
    color: #e4e4e4;
}

.choice-product-part {
    height: 100%;
    width: 95%;
    overflow: hidden;
    /* background: red; */
    display: flex;
    /* align-items: center;
    justify-content: center; */
}

.product-choice {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

.product-choice-part {
    display: flex;
    align-items: center;
    justify-content: center;
}

.load-more {
    border-style: solid;
    border-color: rgb(220, 220, 0);
    background-color: transparent;
    padding: 10px 100px;
    margin: 20px 0 20px 0;
    cursor: pointer;
}

.load-more h4 {
    font-size: 16px;
    font-weight: 600;
    color: rgb(220, 220, 0);
}

/*************************************************************/
/***** ARCH-SERVICES-NAVBAR - (1025px - 1200px)  *****/
/*************************************************************/
@media all and (max-width: 1200px) {
    .your-choice {
        min-height: 380px;
    }
    
    .y-choice-h2 {
        height: 60px;
    }
    
    .y-choice-h2 .h2-border {
        width: 93px;
        margin: 0 9px;
    }
    
    .your-choice .section-h2 {
        font-size: 22px;
    }
    
    .load-more {
        padding: 9px 90px;
        margin: 18px 0 18px 0;
    }
    
    .load-more h4 {
        font-size: 14px;
    }

    .product-choice {
        gap: 35px;
    }
}

/*************************************************************/
/***** ARCH-SERVICES-NAVBAR - (769px - 1024px)  *****/
/*************************************************************/
@media all and (max-width: 1024px) {
    .your-choice {
        min-height: 360px;
    }
    
    .y-choice-h2 {
        height: 50px;
    }
    
    .y-choice-h2 .h2-border {
        width: 83px;
        margin: 0 8px;
    }
    
    .your-choice .section-h2 {
        font-size: 20px;
    }
    
    .load-more {
        padding: 8px 80px;
        margin: 16px 0 16px 0;
    }
    
    .load-more h4 {
        font-size: 12px;
    }

    .product-choice {
        gap: 30px;
    }
}

/*************************************************************/
/***** ARCH-SERVICES-NAVBAR - (481px - 768px)  *****/
/*************************************************************/
@media all and (max-width: 768px) {
    .your-choice {
        min-height: 340px;
        margin: 15px 15px 15px 15px;
    }
    
    .y-choice-h2 {
        height: 40px;
    }
    
    .y-choice-h2 .h2-border {
        width: 73px;
        margin: 0 7px;
    }
    
    .your-choice .section-h2 {
        font-size: 18px;
    }
    
    .load-more {
        padding: 7px 70px;
        margin: 14px 0 14px 0;
    }
    
    .load-more h4 {
        font-size: 10px;
    }

    .product-choice {
        gap: 25px;
    }
}

/*************************************************************/
/***** ARCH-SERVICES-NAVBAR - (321px - 480px)  *****/
/*************************************************************/
@media all and (max-width: 480px) {
    .your-choice {
        min-height: 320px;
    }
    
    .y-choice-h2 {
        height: 30px;
    }
    
    .y-choice-h2 .h2-border {
        width: 63px;
        margin: 0 6px;
    }
    
    .your-choice .section-h2 {
        font-size: 16px;
    }
    
    .load-more {
        padding: 6px 60px;
        margin: 12px 0 12px 0;
    }
    
    .load-more h4 {
        font-size: 8px;
    }

    .product-choice {
        gap: 20px;
    }
}

/*************************************************************/
/***** ARCH-SERVICES-NAVBAR - (0px - 320px)  *****/
/*************************************************************/
@media all and (max-width: 320px) {
    .your-choice {
        min-height: 300px;
    }
    
    .y-choice-h2 {
        height: 20px;
    }
    
    .y-choice-h2 .h2-border {
        width: 53px;
        margin: 0 5px;
    }
    
    .your-choice .section-h2 {
        font-size: 14px;
    }
    
    .load-more {
        padding: 5px 50px;
        margin: 10px 0 10px 0;
    }
    
    .load-more h4 {
        font-size: 6px;
    }

    .product-choice {
        gap: 15px;
    }
}