.ad-two {
    margin: 25px 25px 0px 25px;
    /* height: 200px; */
    height: 250px;
    background-image: url("../../../components/images/AdOne AdTwo/Ad.jpg");
    background-size: 100% 100%;
    display: flex;
    border-radius: 10px;
    align-items: center;
    flex-direction: column;
    border: 1px solid #e4e4e4;
}

/*************************************************************/
/***** ARCH-SERVICES-NAVBAR - (1025px - 1200px)  *****/
/*************************************************************/
@media all and (max-width: 1200px) {
    .ad-two {
        height: 220px;
    }
}

/*************************************************************/
/***** ARCH-SERVICES-NAVBAR - (769px - 1024px)  *****/
/*************************************************************/
@media all and (max-width: 1024px) {
    .ad-two {
        height: 190px;
    }
}

/*************************************************************/
/***** ARCH-SERVICES-NAVBAR - (481px - 768px)  *****/
/*************************************************************/
@media all and (max-width: 768px) {
    .ad-two {
        height: 160px;
        margin: 15px 15px 0px 15px;
    }
}

/*************************************************************/
/***** ARCH-SERVICES-NAVBAR - (321px - 480px)  *****/
/*************************************************************/
@media all and (max-width: 480px) {
    .ad-two {
        height: 130px;
    }
}

/*************************************************************/
/***** ARCH-SERVICES-NAVBAR - (0px - 320px)  *****/
/*************************************************************/
@media all and (max-width: 320px) {
    .ad-two {
        height: 100px;
    }
}